<p class="ranking">～MY PAGE～</p>


<p class="myname">名前 : <%= @user.name %></p>
<p class="mail">メールアドレス : <%= @user.email %></p>
<p class="profile">プロフィール : <%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<p>合計勉強時間：<%= @total_watch %>(h)</p>
<%= pie_chart @user_posts.group(:body).sum(:watch) %>
<%= column_chart @user_posts.group_by_day(:calendar).sum(:watch) %>

<h2>ユーザーの投稿一覧</h2>
<% @user.posts.each do |t| %>
  <p>勉強内容：<%= t.body %></p>
  <p>一言メモ：<%= t.memo %></p>
  <p>勉強時間：<%= t.watch %></p>

  <%= link_to "編集する", edit_post_path(t.id) %>
<% end %>

