
<%= stylesheet_link_tag 'index', :media => "all" %>
<P class="ranking">~POST RIST~</ｐ>
<div class="posts-container">
  <% @posts.each do |t| %>
    <div class="post">
    <p class="namae">名前:
      <%= link_to t.user.name, user_path(t.user.id) %> 
    </p>
    <p>勉強内容:
      <%= t.body %>
    </p>
    <p>一言メモ:
      <%= t.memo %>
    </p>
    <p>勉強時間:
      <%= t.watch %> (h)
    </p>
    <p>勉強をやった日:
      <%= t.calendar %> (h)
    </p>
    </div>
    <% if user_signed_in? && current_user.id == t.user_id %>
    <%= link_to "編集", edit_post_path(t.id) %>
    <%= link_to "削除する", post_path(t.id), method: :delete %>
  <% end %> 
   </div>
  <% end %>
</div>












